<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!--  -->

    <link rel="icon" type="image/x-icon" href="images/Avatar-Male-2.svg" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body class="sales-dashboard">
    <!-- 1) Top Nav Bar -->
    <nav class="top__nav">
      <h1 class="top__nav--heading">Dash Board</h1>
      <input type="search" />
    </nav>
    <!-- 1) Left Nav Bar -->
    <p>Left Nav Bar</p>

    <!-- 1) Statics -->
    <p>Statics</p>
  </body>
</html>
