*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.pageContainer {
    max-width: 768px;
    margin: 0 auto;
    background-color: #eaeaea;
    height: 100vh;
    padding: 0.1rem 2.4rem;

}