$white : #ffffff;
$text: #151D48;

.sales-dashboard {
    background-color: #13253C;
    color: $text;
}

.top__nav {
    padding: 3.5rem 4rem;
    background-color: $white ;
}

.top__nav--heading {
    font-size: 3.6rem;
}