// Margins Top

.margin-top-sm {
    margin-top: 6rem;
}

.margin-top-md {
    margin-top: 12rem;
}

.margin-top-lg {
    margin-top: 18rem;
}

// Margins Top + Bottom
.margin-top-bot-sm {
    margin: 7rem 0;
}

// Padding top
.padding-top-sm {
    padding-top: 2rem;
}

.padding-top-md {
    padding-top: 4rem;
}

// Padding
.padding-sm {
    padding: 2rem 2rem 2rem 2rem;
}


// Padding buttons
.padding-buttons-lg {
    padding: 1rem 8rem;
}

.padding-buttons-sm {
    padding: 1.6rem 3.2rem;
}