button {
    font-size: 1.6rem;
    font-family: 'work sans', sans-serif;
    padding: 0;
    width: max-content;
    margin: 0 auto;
    outline: none;
    border: none;
}

.btn {
    color: #2a2a22;
}

.auth__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

}

.btn-primary {
    background-color: #2a2a2a;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;

}

.btn-primary--outline {
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    text-decoration: none;
    color: #2a2a22;
}

.login {
    color: #2a2a2a;
}

.user__profile--edit-btn {
    color: #2a2a2a;
    background-color: #2a2a2a1f;
    padding: 1rem 1.6rem;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'work sans';
    letter-spacing: 0.2px;
    // text-align: left;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-add-map {
    color: #2a2a2a;
    background-color: #2a2a2a1f;
    padding: 1rem 1.6rem;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'work sans';
    letter-spacing: 0.2px;
}

.upload__order--btn {
    background-color: #2a2a2a;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
    position: relative;

}

.send__order--btn {
    background-color: #2a2a2a;
    color: #ffffff;
    border-radius: 4px;

}

.hidden {
    display: none;

}